body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
canvas {
  display: block;
}

.help-text {
  font-size: 10pt;
}

#body-container {
  margin: revert;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 180px max-content;
  grid-column-gap: 1em;
}

#list-grid {
  grid-row: 1 / span 2;
  grid-column: 1;
  border-right: solid 0.5pt;
}

.canvas-grid {
  grid-column: 2;
}

.grid-row-1 { 
  grid-row: 1; 
}
.grid-row-2 { grid-row: 2; }

#list-container {
  width: fit-content;
  height: 100%;
}

.num-input {
  width: 3em;
}

.symbol-input {
  width: 1.5em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 0 1em;
}

button {
  width: fit-content;
  margin-bottom: 0.5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
/*   margin-bottom: 1em; */
  width: max-content;
  align-items: baseline;
}

.flex-row > div, .flex-row > h2 {
  margin: 0em;
  margin-right: 1em;
}

.setting {
  margin-bottom: 1.5em;
}